@page "/users/{userName}"
@inherits UserDetailsBase
@using DemoSite.Shared

<h3>@user.UserName</h3>

@if (user == null)
{
    <p><em>Loading...</em></p>}
else
{
   
    <MatCard class="demo-mat-card">
        <MatCardContent>
            <MatTextField @bind-Value="user.UserName"></MatTextField>
        </MatCardContent>
        <MatCardActions>
            <MatCardActionButtons>
                <MatButton>Save</MatButton>
                <MatButton>Cancel</MatButton>
            </MatCardActionButtons>
        </MatCardActions>
    </MatCard>

}
